### ANS 1
both ordinal encoding and label encoding are a part of nominal encoding. 
1) ordinal encoding is a data encoding technique which is used to conver categorical data into numerical data. it assign order to on iws own.
2) label encoding is a data encoding technique is used to convert categorical data into numerical data. we cannot assign assign order if we want to.
*** 
for example

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
import pandas as pd
df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [5]:
encodr=LabelEncoder()

In [6]:
encodr.fit_transform(df['color'])

array([2, 0, 1, 2, 0])

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
encoder=OrdinalEncoder(categories=[['red','blue','green']])

In [14]:
encoder.fit_transform(df[['color']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [1.]])

### ANS 2
target guided ordinal encoding is used to convert categorical data into numerical data with providng seperate columns each data carrying a vlaue of mean or meadian of coloumn.  for example

In [17]:
df = pd.DataFrame({
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price': [200, 150, 300, 250, 180, 320]
})

In [21]:
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [22]:
df['city_encoded']=df['city'].map(mean_price)

In [23]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0

### ANS 4

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
encoder=LabelEncoder()

In [26]:
df=pd.DataFrame({
    'color':['red','green','blue'],
    'size':['small','medium','large'],
    'material':['wood','metal','plastic']
})

In [33]:
encoder.fit_transform(df['color'])

array([2, 1, 0])

In [36]:
encoder.fit_transform(df['size'])

array([2, 1, 0])

In [37]:
encoder.fit_transform(df['material'])

array([2, 0, 1])

In [38]:
df['n']=encoder.fit_transform(df['color'])

In [40]:
df

   color    size material  n
0    red   small     wood  2
1  green  medium    metal  1
2   blue   large  plastic  0

### ANS 6
1) for gender variable we will label encdoing because we have only two coloumns in which ranking not matters that much.
2) for education level we will use ordinal technique because we have to assign order for data in education level because high school_education level is less than phd
3) for Employemt staus we can assign label encoding becuase ranking does not matter here.

### ANS 3
covairance describe the realtionship between two variable it is important in statical analysis because by the correleation we get the idea in which coloumn we have to focus or helps in feature selection.if covaraince is positive it mean if x increases then y increases and if x 
decreases then y decreases vice versa. for example

In [41]:
import seaborn as sns

In [42]:
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [43]:
df.cov()

C:\Users\amand\AppData\Local\Temp\ipykernel_1616\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [44]:
### ANS 5

In [46]:
df=pd.DataFrame({
    'age':[23,53,54,63],
    'income':[1231,325432,53243,324432],
    'education':['bsc','phd','btech','bca']
})

In [48]:
encoder=LabelEncoder()

In [49]:
encoder.fit_transform(df['education'])

array([1, 3, 2, 0])

In [50]:
df['new_edu']=encoder.fit_transform(df['education'])

In [51]:
df.cov()

C:\Users\amand\AppData\Local\Temp\ipykernel_1616\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                  age        income      new_edu
age      3.035833e+02  2.202080e+06     0.166667
income   2.202080e+06  2.999181e+10  9168.666667
new_edu  1.666667e-01  9.168667e+03     1.666667

### ANS 7

In [52]:
df=pd.DataFrame({
    'temperature':['22',53,54,63],
    'humidity':['low','high','medium','low'],
    'wind direction':['east','west','north','south'],
    'weather_condition':['sunny','cloudy','rainy','cloudy']
})

In [56]:
df['wind_dir']=encoder.fit_transform(df['wind direction'])

In [57]:
df['weat_cond']=encoder.fit_transform(df['weather_condition'])

C:\Users\amand\AppData\Local\Temp\ipykernel_1616\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

           wind_dir  weat_cond
wind_dir   1.666667  -1.166667
weat_cond -1.166667   0.916667