### ANS 1

In [11]:
import pandas as pd
import numpy as np

In [4]:
import seaborn as sns

In [5]:
df=pd.DataFrame({
    'time':[2,4,5,1,3],
    'final_score':[56,67,82,70,90]
})

In [6]:
df.corr()

                time  final_score
time         1.00000      0.41714
final_score  0.41714      1.00000

### ANS2

In [8]:
df=pd.DataFrame({
    'sleep':[6,7,8,4],
    'job_satis':[5,8,10,4]
})

In [9]:
df.corr(method='spearman')

           sleep  job_satis
sleep        1.0        1.0
job_satis    1.0        1.0

### ANS3

In [12]:
df=pd.DataFrame({
    'hour':np.random.randint(0,10,50),
    'bmi':np.random.randint(0,100,50)
})

In [15]:
df.corr(method='pearson')

          hour       bmi
hour  1.000000  0.139548
bmi   0.139548  1.000000

In [16]:
df.corr(method='spearman')

          hour       bmi
hour  1.000000  0.097355
bmi   0.097355  1.000000

### ANS 4

In [18]:
df=pd.DataFrame({
    'hour':np.random.randint(0,10,50),
    'bmi':np.random.randint(0,3,50)
})

In [19]:
df.corr(method='pearson')

          hour       bmi
hour  1.000000 -0.049425
bmi  -0.049425  1.000000

### ANS 5

In [21]:
df=pd.DataFrame({
    'age':[25,42,37,19,31,28],
    'soft_drink':['coke','pepsi','Mountain dew','Coke','Pepsi','Coke']
})

In [31]:
from sklearn.preprocessing import LabelEncoder

In [38]:
encoder=LabelEncoder()

In [41]:
encoder.fit_transform(df['soft_drink'])

array([3, 4, 1, 0, 2, 0])

In [42]:
df['soft_drink_n']=encoder.fit_transform(df['soft_drink'])

In [43]:
df

   age    soft_drink  soft_drink_n
0   25          coke             3
1   42         pepsi             4
2   37  Mountain dew             1
3   19          Coke             0
4   31         Pepsi             2
5   28          Coke             0

In [44]:
df.corr(method='spearman')

C:\Users\amand\AppData\Local\Temp\ipykernel_17668\1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                   age  soft_drink_n
age           1.000000      0.550782
soft_drink_n  0.550782      1.000000

### ANS 6

In [45]:
df=pd.DataFrame({
    'calls':np.random.randint(0,10,30),
    'sales':np.random.randint(0,4,30)
})

In [ ]:
df.corr(method='pearson