### ANS1
data encoding is used to convert categorical data into numerical data. it is useful in data science because we cannot make model on the basis on categorical data so we convert into numerical data because many machine learning algorithim require numerical input.

### ANS 2
nominal encoding is a technique which is used to trasform categorical varaibles that have not intrinsic ordering into numerical value that can be used in machine learning models. for example lets suppose we 3 feature which are categorical then we use nominal encdoing based on the data we can choose the best nominal method.

### ANS 3
one-hot-encoding is a type of nominal encoding which is used to convert categorical data into numerical data. suppose there are 100 categorical features which is used to convert numerical data.
****
in one-hot-encoding lets suppose there are 100 categorical data and each feature have soo many unique data but in one-hot-encoding each unique data will be assigned to new feature thus increasing the features which will make hard.

### ANS 4
we  will use one-hot-encoding because it will convert unique data to each different feature beacuse in this technique each category will treated equally it will easy for machine learning algorithim to interpret the results.

### ANS 5
if we use one-hot-encoding then depending on the unqiue data in two categorical columns diiferent coloumns will be made each carrying the same importance. for example.

In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder
df=pd.DataFrame({
    'color':['red','blue','green','orange'],
    'shape':['circle','oval','square','recentagle'],
    'value':[23,43,23,54],
    'price':[100,250,190,120]
})

In [2]:
encoder=OneHotEncoder()

In [5]:
encoded=encoder.fit_transform(df[['color','shape']])

In [8]:
enc=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [9]:
pd.concat([df,enc],axis=1)

    color       shape  value  ...  shape_oval  shape_recentagle  shape_square
0     red      circle     23  ...         0.0               0.0           0.0
1    blue        oval     43  ...         1.0               0.0           0.0
2   green      square     23  ...         0.0               0.0           1.0
3  orange  recentagle     54  ...         0.0               1.0           0.0

[4 rows x 12 columns]

### ANS 6
one-hot-encoding technique will be prefered because we have so many so many categorical data so without making any ordinal relationsip we will preserve the importance of each feature.

### ANS 7
one-hot-encoding technique will be prefered because we have so many so many categorical data so without making any ordinal relationsip we will preserve the importance of each feature.

In [10]:
df=pd.DataFrame({'gender':['m','f','m','f'],
                 'age':[43,21,20,34],
                 'contract type':['p','t','p','t'],
                 'monthly charge':[654,897,264,876],
                 'tenure':[23,54,21,65]
                }
               )

In [11]:
en=OneHotEncoder()

In [12]:
encoder=en.fit_transform(df[['gender','contract type']])

In [13]:
enc=pd.DataFrame(encoder.toarray(),columns=en.get_feature_names_out())

In [14]:
pd.concat([df,enc],axis=1)

  gender  age contract type  ...  gender_m  contract type_p  contract type_t
0      m   43             p  ...       1.0              1.0              0.0
1      f   21             t  ...       0.0              0.0              1.0
2      m   20             p  ...       1.0              1.0              0.0
3      f   34             t  ...       0.0              0.0              1.0

[4 rows x 9 columns]