
### ANS 1
database is a storage which is used to store the data arranged or not arranged.
sql= it only stores strucutred data like excel sheet and it has many queries by which we can manuplate the data.
NO SQL= not only sql can be used to arrange unstrucutred data like document based data or json or directory type data.


### ANS 2
DDL stands for data defination language 
1) CREATE= it is used to create table 
mycursor = mydb.cursor()
 mycursor.execute("CREATE TABLE  if not exists test2.test_table(c1 INT, c2 VARCHAR(10), c3 FLOAT, c4 INT, c5 VARCHAR(10))")
 mydb.close()

2) DROP= drop is used to delete entire table
mycursor = mydb.cursor()
mycursor.execute("drop table test2.test")
 mydb.close()


3) alter = alter query is used to modfiy data like adding data changing data type
 mycursor = mydb.cursor()
 mycursor.execute("alter table test2.test add x float")
 mydb.close()
 
4) truncate= truncate query is used to delete the values inside the table but not the template of the data.
 mycursor = mydb.cursor()
 mycursor.execute("truncate table test2.test")
 mydb.close()


### ANS 3 
DML it stands for data manuplation language

1) insert= insert is used to add values in the table
### insert

mycursor = mydb.cursor()
mycursor.execute("insert into databasename.tablename values(a int, b varchar(1), z char")
mydb.close()

2) update= update is used to modify tha data by providing some condition update is used to update and set is used to select the specific coloum.
### update
mycursor = mydb.cursor()
mycursor.execute("update test2.test set c=10 where a='aman'")
mydb.close()

3) delete= it is used delete the table we can also delete specific coloumn but drop do not provide this function it is mainly used with alter.
### delete
mycursor = mydb.cursor()
mycursor.execute("delete from test2.test where a='aman' ")
mydb.close()

ANS 4
DQL= it stands for data query language

select command is used to select the data form the table.
mycursor = mydb.cursor()
mycursor.execute("select * from test2.test")
mydb.close()

ANS 5
primary key= primary key is used to uniquely identity the table it tells the uniqueness of the table it can pnly be one.
foreign key= foreign key is used to connect atleast two table foreign key which is connected to the other key must be primary key.

ANS 6
import mysql.connector

mydb=mysql.connector.connect(

    host='localhost'
    user='abc'
    password='password'

)

mycursor=mydb.cursor()
mycursor.execute()
mydb()

ANS 7
FROM (including joins: INNER JOIN, LEFT JOIN, RIGHT JOIN, OUTER JOIN, CROSS JOIN, etc.)
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT